<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707106528479-mld4rv5d5godgbs77t9b22ckcr46t3n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707106528479-mld4rv5d5godgbs77t9b22ckcr46t3n2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707106528479-etpp1uavj9840do4k7jd65vauf9lihb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBArw5pvevrXE1uq2IWVfAYH1M0kTLNgM</string>
	<key>GCM_SENDER_ID</key>
	<string>707106528479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-996</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707106528479:ios:853de5b9f598dc975d9d6a</string>
</dict>
</plist>